[user]
	name = JuneQ Cheung
	email = a1624jz@aiit.ac.jp

# [credential]
#	helper = 

[ghq]
	root = ~/xvar/xghq
	root = ~/xvar/xgo/src
[core]
	longpaths = true
	quotepath = false
[pull]
	rebase = true
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[filter "lfs"]
	clean = cat
	smudge = cat
	process = 
	required = false
