[user]
	name = JuneQ Cheung
	email = a1624jz@aiit.ac.jp

# [credential]
#	helper = 

[ghq]
	root = ~/xvar/xghq
	root = ~/xvar/xgo/src
[core]
	longpaths = true
	quotepath = false
[pull]
	rebase = true
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[filter "lfs"]
	clean = cat
	smudge = cat
	process = 
	required = false
[safe]
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4992
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4992
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4045
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4992
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-5063
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-1963
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2148
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-3362
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-863
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-5859
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-6506
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-7080
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-7114
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-7228
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-7993
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4045
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-5063
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4045
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4992
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-5063
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-1963
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2148
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-863
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-5859
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-6506
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-7080
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-7228
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4045
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4992
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-5063
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-1963
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2148
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-863
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-5859
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-6506
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-7080
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-7228
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4045
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-4992
	directory = /home/juserch/.cache/veltora_swe_repos/pallets__flask-5063
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-1963
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2148
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-2317
	directory = /home/juserch/.cache/veltora_swe_repos/psf__requests-863
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-5859
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-6506
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-7228
	directory = /home/juserch/.cache/veltora_swe_repos/mwaskom__seaborn-3187
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-4551
	directory = /home/juserch/.cache/veltora_swe_repos/mwaskom__seaborn-3187
	directory = /home/juserch/.cache/veltora_swe_repos/pylint-dev__pylint-4551
